/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 |
 */
@import "./_tailwind.scss";

/*
    |--------------------------------------------------------------------------
    | Fonts
    |--------------------------------------------------------------------------
    |
    | Import all fonts used in the template, the font configuration can be
    | seen in "tailwind.config.js".
    |
    | Please check this link for more details:
    | https://tailwindcss.com/docs/theme
    |
    */
@import "./_roboto.scss";

html {
   scroll-behavior: smooth;
   background-color: theme("colors.slate.200");

   &.dark {
      background-color: theme("colors.darkmode.800");

      body {
         color: theme("colors.slate.300");

         *,
         ::before,
         ::after {
            border-color: theme("colors.white" / 5%);
         }
      }
   }

   body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      overflow-x: hidden;
      font-family: theme("fontFamily.roboto");
      font-size: theme("fontSize.sm");
      line-height: theme("lineHeight.5");
      color: theme("colors.slate.800");
   }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}